/** @format */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  height: 100%;
}

.sidebar .bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 450px;
  background: rgba(0, 0, 0, 0.48);
  z-index: 9999;
  backdrop-filter: blur(8px);
}

.sidebar .bg .links {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  z-index: 9999;
  padding: 20px 0;
}

.sidebar .bg .links h1 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  color: white;
}

.sidebar .bg .links a {
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 60%;
  text-align: left;
  padding: 10px 0;
  font-size: 1rem;
  font-family: sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  transition: all 0.3s ease;
}

.sidebar .bg .links a:hover {
  transform: scale(1.08);
  color: #e2c48e;
}

.sidebar .bg .links a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #e2c48e, #ffffff);
  transition: width 0.3s ease;
}

.sidebar .bg .links a:hover:after {
  width: 100%;
}

.consult-button {
  position: bottom;
  margin-top: 40px;
  width: 60%;
}

.consult-button a {
  display: inline-block;
  border: 1px solid white !important;
  text-align: center !important;
  padding: 15px !important;
  font-size: 0.9rem !important;
  width: 100% !important;
  transition: all 0.3s ease;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  color: white;
  background: transparent;
}

.consult-button a:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0 0 10px #d4bd9150;
  color: #1c1c1c;
}

.social-icons {
  margin-top: 20px;
  transition: all 0.3s ease;
}

.social-icons:hover {
  transform: scale(1.1);
}

.instagram-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.sidebar button {
  z-index: 10000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.logo {
  font-family: "Times New Roman", serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .sidebar .bg {
    width: 70%;
  }

  .sidebar button {
    top: 15px;
    right: 15px;
  }

  .sidebar .bg .links a {
    width: 80%;
  }

  .consult-button {
    width: 80%;
  }
}
